<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
	<div class="conteiner">
		<div class="row">
			<h1>
				Evento #<span th:text="${evento.id}"></span> <span
					th:text="${evento.nome}"></span>
			</h1>
		</div>
	</div>
	<div class="alert alert-primary" th:if="${mensagem != null}"
		th:text="${mensagem}"></div>
	<main>
		<div class="container mt-4">
			<div class="row">
				<div class="col-12">
				<div class="card-header">
					<p class="text-primary">Detalhes</p>
				</div>
					<b>Grupo vencendo: </b><a th:href="@{/grupo/detalhes(id = ${grupoVencendo.id})}"><span th:text="${grupoVencendo.nome}"></span></a><br>
					<b>Ranking: </b><a th:href="@{/ranking}" th:target="_blank">Ranking</a><br> 
					<b>Data Início: </b><span th:text="${#dates.format(evento.dataInicio, 'dd/MM/yyyy')}"></span><br>
					<b>Data Final: </b><span th:text="${#dates.format(evento.dataFinal, 'dd/MM/yyyy')}"></span> <br>
					<b>Grupos: </b><a th:href="@{/evento/grupos(id = ${evento.id})}">Grupos</a><br>
					<b>Atividades: </b><a th:href="@{/evento/atividades(id = ${evento.id})}">Atividades</a>
				</div>
			</div>
			<div class="container mt-3">
				<div class="row">
					<div class="col-12">
						<a class="btn btn-primary btn-sm"
							th:href="@{/evento/grupo/novo(id = ${evento.id})}">Adicionar
							Grupo</a> <a class="btn btn-primary btn-sm"
							th:href="@{/evento/atividade/novo(id = ${evento.id})}">Adicionar
							Atividade</a> <a class="btn btn-primary btn-sm"
							th:href="@{/evento/editar(id = ${evento.id})}">Editar</a> <a
							class="btn btn-primary btn-sm"
							th:href="@{/evento/deletar(id = ${evento.id})}"
							th:onclick="return confirm('Você realmente deseja excluir esse evento?')">Deletar</a>
						<a class="btn btn-primary btn-sm" href="/evento">Voltar</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
</html>