<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorate="~{layout.html}">
<head>
<meta charset="UTF-8">
<title>Lista de Grupos</title>
</head>
<div layout:fragment="content">
	<div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
		Nenhum Grupo Cadastrado
	</div>
	<div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}"></div>
	<div class="card-header">
		<p class="text-primary">Lista de Grupos</p>
	</div>
	<div th:if="${not #lists.isEmpty(lista)}">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Evento</th>
				<th>Participantes</th>
				<th>Opções</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="grupo : ${lista}">
				<td th:text="${grupo.id}"></td>
				<td th:text="${grupo.nome}" width="33%"></td>
				<td><a th:href="@{/evento/detalhes(id = ${grupo.evento.id})}"><span th:text="${grupo.evento.nome}"></span></a></td>
				<td><a class="btn btn-primary btn-sm" th:href="@{/grupo/participantes(id = ${grupo.id})}">Ver Participantes</a>
				</td>
				<td>
				<a class="btn btn-primary btn-sm" th:href="@{/grupo/detalhes(id = ${grupo.id})}">Detalhes</a>
				<a class="btn btn-primary btn-sm" th:href="@{/grupo/editar(id = ${grupo.id})}">Editar</a>
					<a class="btn btn-primary btn-sm" th:href="@{/grupo/deletar(id = ${grupo.id})}"
						th:onclick="return confirm('Você realmente deseja excluir esse grupo?')">Deletar</a>
					</td>
			</tr>
		</tbody>
	</table>
	<div>
		<a class="btn btn-primary btn-sm" href="/">Voltar</a>
	</div>
</div>

</html>